{% extends 'base.html.twig' %}

{% block main %}

    {{ form_start(tripType) }}
    <button class="btn">Publier</button>

    {{ form_end(tripType) }}

    Ville organisatrice : {{ tripOrganizer.getParticipantArea().getName() }}

{% endblock %}

{% block title %}

{% endblock %}

