{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    {{ form_start(tripType) }}
    <button class="btn">Modifier</button>
    {{ form_end(tripType) }}

{% endblock %}

