{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}
{% block pageTitle %}Liste et recherche des sorties{% endblock %}

{% block main %}
    <form class="ui form" method="post">
        <div class="ui container field">
            <div class="ui grid">
                <div class="ten wide column">
                    <div class="field">
                        <label>Site</label>
                        <select class="ui search dropdown" name="tripPlace">
                            <option value="NANTES">Nantes</option>
                            <option value="RENNES">Rennes</option>
                            <option value="NIORT">Niort</option>
                        </select>
                    </div>

                    <div class="field">
                        <label>Recherche dans le nom :</label>
                        <div class="ui right icon input">
                            <i class="tags icon"></i>
                            <input type="text" placeholder="ex: 'Jeu de Rôle'"/>
                        </div>
                    </div>
                </div>

                <div class="six wide column" style="transform: translateY(18px)">
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Que j'ai organisé</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Où je participe</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Où je ne participe pas</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>Finies</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui center aligned container">
            <button class="ui blue button" type="submit">
                <i class="search icon"></i>
                Rechercher
            </button>
        </div>
    </form>
{% endblock %}
