@font-face {
    font-family: "Youth Power";
    src: url("/assets/font/Youth Power.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/assets/images/background.jpg");

    /* Add the blur effect */
    filter: blur(6px) brightness(180%) saturate(50%);
    -webkit-filter: blur(6px) brightness(180%) saturate(50%);

    /* Center and scale the image nicely */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1;
    transform: scale(1.1);
}

body .grid {
    height: 100%;
}
.header > .logo {
    transform: translateY(-15px);
}



.main-logo {
    position: absolute !important;
    width: 30px !important;
    transform: translate(calc(-50% + 12px) ,-22px) !important;
    margin-left: calc(50% - 1em * 3 - -2px) !important;
}

.main-title {
    font-size: 1.8em;
    transform: scale(1) translate(12px, -20px);
}


.main-title.medium{
    font-size: 1.4em;
}

.main-title.top-nav{
    font-size: 1.4em;
    transform: scale(0.9) translateX(-40px);
}

.main-title.top-nav > .main-logo {
    transform: translate(calc(-50% - 2px) , 0) !important;
}

.main-title.left-nav{
    transform: none !important;
    font-size: 1.4em;
}

.main-title.left-nav > .content {
    transform: scale(1.4) translate(51px, 1px);;
}

.main-title.left-nav > .main-logo {
    transform: none !important;
    margin-left: 0 !important;
}

.youth-power {
    font-family: "Youth Power", cursive;
}

.white {
    color: white !important;
}

.blue-text {
    color: #0d71bb !important;
}

.link-active {
    font-weight: 700 !important;
    border-bottom: white 2px solid !important;
}

.underlined.field {
    border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
}

.form-information {
    padding: 5px 0;
}

.form-information > p {
    font-size: large !important;
}

.empty-information {
    color: rgba(0, 0, 0, 0.4) !important;
}

.error-label > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile {
    display: none !important;
}

.not-small-view {
    display: block !important;
}

.small-view {
    display: none !important;
}

.not-admin-view {
    display: none !important;
}

.admin-view {
    display: block !important;
}

table.linked.rows tr {
    cursor: pointer;
}

.dragdrop {
    border: dashed #676a6d 4px !important;
    background-color: #1c2023 !important;
    color: white !important;
    transition: ease-out 0.2s;
    cursor: pointer;
}

.dragdrop.dragged {
    opacity: 0.6;
    padding: 22px !important;
}

.red-text {
    color: #C82829 !important;
}
.error-no-ul > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*
    SEMANTIC UI CLASSES
*/


.hidden.menu {
    display: none;
}
.masthead.segment {
    min-height: 300px;
    padding: 1em 0em;
    position: relative;
    overflow: hidden;
}
.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .main-title {
    padding: 0 !important;
    margin: 10px auto !important;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}
.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
.footer.segment {
    padding: 5em 0em;
}
.secondary.pointing.menu .toc.item {
    display: none;
}

.ui.secondary.pointing.menu {
    border: none;
}

.ui.avatar.image {
    object-fit: cover;
}

/*
    MEDIA
*/

@media screen and (min-width: 1125px) {
    .main-title {
        transform: scale(1.3) translateX(12px);
        color: white;
    }

    .main-logo {
        transform: translate(calc(-50% - 2px) ,1px) !important;
    }
}

@media only screen and (max-width: 1200px) {

    .not-small-view {
        display: none !important;
    }

    .small-view {
        display: block !important;
    }
}

@media only screen and (max-width: 768px) {

    .mobile {
        display: block !important;
    }

    .not-mobile {
        display: none !important;
    }

    .ui.fixed.menu {
        display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
        transform: translate(20px, -10px);
        font-size: 1.2em;
    }

    .masthead.segment {
        min-height: 200px;
    }

    .masthead h1.ui.header {
        font-size: 1.6em;
        font-weight: 700;
        margin-top: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}