<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/semantic.min.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/assets/css/sidebar.min.css" />
        <link rel="stylesheet" href="/assets/css/transition.min.css" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="/assets/js/jquery-3.4.1.min.js"></script>
        <script src="/assets/js/semantic.min.js"></script>
        <script src="/assets/js/visibility.js"></script>
        <script src="/assets/js/sidebar.js"></script>
        <script src="/assets/js/transition.min.js"></script>
        <script src="/assets/js/sha1.min.js"></script>
        <script src="/assets/js/identicon.js-master/pnglib.js"></script>
        <script src="/assets/js/identicon.js-master/identicon.js"></script>
        <script src="/assets/js/main.js"></script>
    </head>
    <body>
        {% block body %}

            <!-- Following Menu -->
            <div class="ui large top fixed hidden menu">
                <div class="ui container">
                    <a class="active item">Home</a>
                    <a class="item">Work</a>
                    <a class="item">Company</a>
                    <a class="item">Careers</a>
                    <div class="right menu">
                        <div class="item">
                            <a class="ui button">Log in</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <div class="ui vertical sidebar menu">
                <a class="active item">Home</a>
                <a class="item">Work</a>
                <a class="item">Company</a>
                <a class="item">Careers</a>
                <a class="item">Login</a>
            </div>

            <div class="pusher">
                <div class="ui vertical masthead center aligned segment">
                    <div class="background"></div>
                    <div class="ui container">
                        <div class="ui large secondary pointing menu">
                            <a class="toc item">
                                <i class="sidebar icon"></i>
                            </a>
                            <a class="active item">Home</a>
                            <a class="item">Work</a>
                            <a class="item">Company</a>
                            <a class="item">Careers</a>
                            <h2 class="center item main-title">
                                <img src="/assets/icons/climbing-adventure-silhouette-black.svg" class="logo" style="width: 30px; transform: translate(5px ,-2px)">
                                <div class="content youth-power main-title black medium">Sortir <span class="blue">ENI</span></div>
                            </h2>
                            <div class="right item">
                                {% if app.user %}
                                    <img class="ui avatar image"
                                         src="/assets/images/square-image.png"
                                         alt="😉"
                                         id="profile-picture"/>
                                    <script>
                                        const username = sha1("{{ app.user.username }}");
                                        const profile = document.getElementById('profile-picture');
                                        const img = new Identicon( username, {
                                            foreground: [0, 0, 0, 255],
                                            background: [255, 255, 255, 1],
                                            size: 420,
                                            format: 'png'
                                        });
                                        profile.src = `data:image/png;base64,${img}`;
                                    </script>
                                    <span>Bonjour, <b>{{ app.user.firstname }}</b> (<a href="{{ path('app_logout') }}">deconexion</a>)</span>
                                {% else %}
                                    <a class="ui black button" href="/login">Log in</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="ui text container">
                        <h1 class="ui header">
                            {% block pageTitle %}TEST{% endblock %}
                        </h1>
                    </div>
                </div>

                <div class="ui vertical stripe segment" style="min-height: 70vh">
                    <main class="ui middle aligned stackable grid container">
                        {% block main %}{% endblock %}
                    </main>
                </div>

                <footer class="ui inverted vertical footer center aligned segment">
                    <div class="container">
                        <div class="ui stackable inverted divided equal height stackable grid">
                            <div class="six wide column">
                                <h4 class="ui inverted header">Images/icones</h4>
                                <div class="ui inverted link list">
                                    <a href="https://www.flaticon.com/" class="item">Flaticon</a>
                                    <a href="https://www.flaticon.com/authors/freepik" class="item">Freepik</a>
                                    <a href="https://www.dafont.com/youth-power.font" class="item">Police titre</a>
                                    <a href="https://pixnio.com/fr/nature-paysages/creek-stream-fr/bois-nature-foret-printemps-feuilles-vertes-paysage-feuille-arbre-eau-mousse-aquatique" class="item">Image de fond</a>
                                </div>
                            </div>

                            <div class="four wide column">
                                <p>Site web présenté par l'ENI et développé par Thomas R. et Yoann P.</p>
                                <p>Icones crées par
                                    <a href="https://www.flaticon.com/authors/freepik" title="Freepik"></a>
                                    sur le site
                                    <a href="" title="Flaticon">www.flaticon.com</a>
                                </p>
                            </div>

                            <div class="six wide column">
                                <h4 class="ui inverted header">Sources</h4>
                                <div class="ui inverted link list">
                                    <a href="https://semantic-ui.com/" class="item">Semantic UI</a>
                                    <a href="https://github.com/emn178/js-sha1" class="item">Librairie SHA-1</a>
                                    <a href="https://github.com/stewartlord/identicon.js" class="item">Librairie génération d'image de profil</a>
                                </div>
                            </div>
                            <div class="three wide column"></div>
                        </div>
                    </div>
                </footer>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
